.container{
    padding: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.pageWrap{
    display: flex;
    flex-direction: row;
    gap: 3px
}
.sidebar{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 200px;
    gap: 5px;
}
.dragComponent{
    cursor: grab;
    border: 1px solid black;
    text-align: center;
}
.dragArea{
    border: 1px solid aqua;
    width: 100%;
    height: 50px;
    background-color: aliceblue;
}
.editorWrap{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.preview{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 1px;
}
.header{
    position: relative;
    display: flex;
    width: 100%;
    min-height: 25px;
}
.title{
    position: relative;
    display: flex;
    min-height: 25px;
    min-width: 150px;
}
.text{
    position: relative;
    display: flex;
    min-height: 25px;
    min-width: 150px;
}
.content{
    position: relative;
    display: flex;
    width: 100%;
    min-height: 25px;
    padding: 25px;
}
.footer{
    position: relative;
    width: 100%;
    min-height: 25px;
}
.banner{
    position: relative;
    width: fit-content;
}
.edit{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    gap: 3px;
}
.edit span{
    border: 1px solid red;
    cursor: pointer;
    background-color: white;
}