.container{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wrapper{
    position: relative;
}
.header{
    position: relative;
}
.title{
    position: relative
}
.text{
    position: relative;
}
.content{
    position: relative;
}
.footer{
    position: relative;
}